# Visual Data Analysis of Fraudulent Transactions

Your CFO has also requested detailed trends data on specific card holders. Use the starter notebook to query your database and generate visualizations that supply the requested information as follows, then add your visualizations and observations to your markdown report.

In [9]:
# Initial imports
import pandas as pd
import calendar
import hvplot.pandas
from sqlalchemy import create_engine
from dotenv import load_dotenv
import dotenv

In [ ]:
## MAKE SURE TO FOLLOW THE INSTRUCTIONS IN THE README.md FILE TO LOAD YOUR OWN POSTGRES_USER AND POSTGRES_PASS BEFORE PROCEEDING ##

# Load .env enviroment variables
load_dotenv()
postgress_user = os.getenv("POSTGRES_USER")
postgress_pass = os.getenv("POSTGRES_PASS")

In [18]:
# Create a connection to the database
engine = create_engine(f'postgresql://{postgress_user}:{postgress_pass}@localhost:5432/fraud_detection')

## Data Analysis Question 1

The two most important customers of the firm may have been hacked. Verify if there are any fraudulent transactions in their history. For privacy reasons, you only know that their cardholder IDs are 2 and 18.

* Using hvPlot, create a line plot representing the time series of transactions over the course of the year for each cardholder separately. 

* Next, to better compare their patterns, create a single line plot that containins both card holders' trend data.  

* What difference do you observe between the consumption patterns? Does the difference suggest a fraudulent transaction? Explain your rationale in the markdown report.

In [19]:
# loading data for card holder 2 and 18 from the database
# Write the query
query = """
        SELECT * FROM transaction as T
            INNER JOIN credit_card as C
            ON T.card = C.card
            WHERE C.cardholder_id in (2,18);
        """
# Create a DataFrame from the query result. HINT: Use pd.read_sql(query, engine)
ch_df = pd.read_sql(query, engine)
# View a sample of the DataFrame
ch_df.head()

,id,date,amount,card,id_merchant,card,cardholder_id
0,567,2018-01-01 23:15:10,2.95,4498002758300,64,4498002758300,18
1,2077,2018-01-05 07:19:27,1.36,344119623920892,30,344119623920892,18
2,2439,2018-01-06 02:16:41,1.33,4866761290278198714,127,4866761290278198714,2
3,1867,2018-01-06 05:13:20,10.82,4866761290278198714,70,4866761290278198714,2
4,3457,2018-01-07 01:10:54,175.00,344119623920892,12,344119623920892,18

In [ ]:
# Plot for cardholder 2
ch_2_plot = ch_df.query('cardholder_id==2').hvplot.line()

In [ ]:
# Plot for cardholder 18
ch_18_plot = ch_df.query('cardholder_id==18').hvplot.line()

In [ ]:
# Combined plot for card holders 2 and 18
ch_2_plot + ch_18_plot

## Data Analysis Question 2

The CEO of the biggest customer of the firm suspects that someone has used her corporate credit card without authorization in the first quarter of 2018 to pay quite expensive restaurant bills. Again, for privacy reasons, you know only that the cardholder ID in question is 25.

* Using hvPlot, create a box plot, representing the expenditure data from January 2018 to June 2018 for cardholder ID 25.

* Are there any outliers for cardholder ID 25? How many outliers are there per month?

* Do you notice any anomalies? Describe your observations and conclusions in your markdown report.

In [ ]:
# loading data of daily transactions from jan to jun 2018 for card holder 25
# Write the query
query = """
        YOUR QUERY HERE
        """
# Create a DataFrame from the query result. HINT: Use pd.read_sql(query, engine)
ch_df = pd.read_sql(query, engine)
# View a sample of the DataFrame
ch_df.head()

In [ ]:
# loop to change the numeric month to month names
for num_month in ch_df['@@Month@@'].unique():
    ch_df['@@Month@@'] = ch_df['@@Month@@'].str.replace(num_month,calendar.month_name[num_month])
# View a sample of the DataFrame
ch_df.head()

In [ ]:
# Creating the six box plots using hvPlot